################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/cancionero/cancioneroWeb/wwwroot/json
/cancionero/cancioneroWeb/wwwroot/jsonSpotify
