html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.clsNotas {
    display: flex;
}

.clsNota {
    width: 100px;
    font-size: 20px;
    margin-top: 5px;
}

.PanelNombre { 
  display: flex;
}
.divNombre {
  width: 400px;

}

#containerCancion {
    margin-left: 15px;
}

.header {
  display: flex;
}